// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}

.badge-downloads {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background: #28a745;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 3px 8px;
  border-radius: 110px;
  line-height: 2;
  vertical-align: center;
}